
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   
}
.navbar {
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1a1a1a;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  z-index: 1000;
 
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00c3ff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #00c3ff;
}



/* menu deroulent  */
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top:100%; 
  left: 0;
  background: #222;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  min-width: 180px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.dropdown-menu li {
  text-align: left;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
  transition: background 0.3s ease;
}

.dropdown-menu li a:hover {
  background: #00c3ff;
  color: #000;
}


.dropdown:hover .dropdown-menu {
  display: block;
}

 /* section de presentation */

.home{
 margin-top: 60px;
     /* background: linear-gradient(to right, rgb(243, 201, 201),rgb(255, 255, 255)); */
  background-image: url(img/téléchargement\ \(1\).jpg);
background-size: cover;
       display: flex;
justify-content: space-between;
  align-items: center;
  padding: 50px;
  max-width: 100%;

  border-radius: 16px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  

}
.home img{
     padding: 10px;
      width: 280px;
  height: 380px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #e1dede;
  box-shadow: 0 0 10px rgba(233, 181, 181, 0.1);
}
 .home h1 {
     padding: 10px;
            font-size: 2.5rem;
            margin-bottom: 10px;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        }

         .home h3 {
             padding: 10px;
            font-size: 1.5rem;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.9);
        }
.home p{
     padding: 10px;
     font-size: 1.3rem;
  color: #666;
  margin-bottom: 20px;
}
 .hero-buttons {
  display: flex;
  gap: 15px;
}

.hero-buttons .btn {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.hero-buttons .btn.black {
  background: #f7f6f6;
  color: #151313;
}

.hero-buttons .btn.black:hover {
  background: #4e4646;
}





.hero-buttons .btn.orange {
  background: #de6dcd;
  color: #141212;
}

.hero-buttons .btn.orange:hover {
  background: #e4aee1;
}

section  h1{
    font-size:  2.5rem;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

}
section  h1 span{
    font-size:2.5rem ;
    color:rgb(242, 107, 188);


}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*  section des informatio personelle  */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  padding: 50px;
  max-width: 100%;

  border-radius: 16px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
.À-propos-biographie p{
    line-height: 2;
    font-size: 20px;
}
.À-propos-img{
   display: flex;
  align-items: center;
   flex-direction: column;
   gap: 50px;
}

.À-propos-img  img{
    
     border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid #ffffff;
   box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.1);
}
.social-icons{
     padding: 20px 0px;
  font-size: 1.5rem;
  
  margin-bottom: 15px;
  
}
.social-icons a{
    color: rgb(242, 107, 188);
     margin: 10px auto 0;
     padding: 16px;
}
.social-icons a:hover{
    background-color:rgb(242, 107, 188);
    color: aliceblue;
    border-radius: 15px;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.1);
}



h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: black;
 
}
h2 span{
  color:rgb(242, 107, 188);
}

/* skills section   */

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-box {
  margin-top: 20px;
 background:  linear-gradient(to right,rgb(255, 255, 255),rgb(236, 164, 184));
  border: 2px solid #ffe5f2;
  border-radius: 12px;
  width: 130px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #6d214f;
  position: relative;
  overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
 
}

.skill-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px #ff99cc;
}

.skill-box span {
  display: block;
  margin-top: 30px;
  font-size: 14px;
  color: #962379;
}

/*Moi Section */

.whyme-section {
  margin-top: 80px;
}

.whyme-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.education, .experience {
  flex: 1;
  max-width: 500px;
  
}

.education h3, .experience h3 {
  color: #6d214f;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  animation: 1.2s ease-out;
}

/* section formation et experience*/

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right,rgb(254, 252, 254),rgb(215, 157, 184));
  border: 1px solid  rgb(230, 200, 224);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
 
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #ff99cc;
}

.card .icon {

  font-size: 25px;
  color: #6d214f;
}

.card .content h4 {
  color: #ff66b2;
  margin: 0;
  font-size: 18px;
}

.card .content p {
  margin: 5px 0;
  color: #6d214f;
}

.card .content span {
  font-size: 12px;
  color: #a14c7e;
}





/* projet  */

.works {
  text-align: center;
  padding: 80px 60px;
  max-width: 1200px;
  margin: auto;
}

/* Header */
.works-header {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

}

.works-header h2 {
margin: 30px auto;
  font-size: 2rem;
  font-weight: 600;
}



/* Grid layout */
.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

/* Card */
.work-card {
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}
.work-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

/* Image */
.work-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* Text  */
.work-info {
  padding: 20px;
  text-align: center;
}

.work-info h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.work-info p {
  font-size: 0.9rem;
  color: #000000;
  margin-bottom: 20px;
}

/* button */
.work-info button {
 
  background-color: #9e3e71;
  color: #000;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.work-info button:hover {
  background-color: #e6e4db;
  transform: scale(1.05);
}

/* SECTION CONTACT */
.contact {
  padding: 0 50px;
  margin-bottom: 100px;
  background-color: white;
}


.contact h4 {
  color: #050405;
  font-size: 35px;
  text-align: center;
  margin-bottom: 40px;
}

.contact h4 span {
  color: #933d82;
}


.group {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}


.contact-content {
  display: flex;
  flex: 1;
  justify-content: center;
}

.contact-info {
  flex: 1;
  min-width: 280px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  transition: transform 0.3s ease;
}

.contact-item:hover {
  transform: translateX(5px);
}

.contact-icon {
  width: 50px;
  height: 50px;
  background: #f8e1f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  color: #6d214f;
  font-size: 1.2rem;
}

.contact-info a {
  color: #6d214f;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}


.form {
  flex: 1;
  min-width: 320px;
  background-color: #ffffff;
  border: none;
  padding: 25px;
  border-radius: 10px;
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.form legend {
  font-size: 1.5rem;
  color: #6d214f;
  text-align: center;
  margin-bottom: 15px;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.contact input,
.contact textarea,
.contact select,
.contact button {
  padding: 10px;
  border: 1px solid #e086ce;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  outline: none;
  transition: border-color 0.3s ease;
}

.contact input:focus,
.contact textarea:focus,
.contact select:focus {
  border-color: #6d214f;
}

/* Bouton d’envoi */
.contact button {
  background-color: #6d214f;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact button:hover {
  background-color: #ffc6ee;
  color: #6d214f;
  transform: translateY(-2px);
}

/*  Responsive */
@media (max-width: 768px) {
  .group {
    flex-direction: column;
    gap: 40px;
  }

  .contact {
    padding: 0 20px;
  }

  .contact h4 {
    font-size: 28px;
  }
}


footer{
  background-color: #fffefe;
  margin: 2%;
  padding: 2%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}



footer{
  text-align: center;
  justify-items: center;
  justify-content: center;
  
}
footer .social-icons{
  justify-content: end;
  padding: 20px 0px;
  font-size: 1.5rem;
  color: #e1dede;
  margin-bottom: 15px;
  
}

footer .social-icons a{
  padding: 20px;
  color: #f582dc;
   transition: color 0.3s ease;
   margin: 10px auto 0;
}
footer nav ul{

  
   color: #fff;
  display: flex;
 
  align-items: center;
  padding: 15px 40px;
  z-index: 1000;
 
}
footer nav ul li{
 
  padding: 20px;
  list-style: none;
  font-size: 1.3rem;
  transition: color 2s ease-in-out;
}
footer nav ul li a{
  
  text-decoration: none;
  color: #6d214f;
  font-weight: 600;
  padding: 5px;
 border-radius: 10px;
  
}
footer nav ul li a:hover{
 transform: scale(1.1);
  color: #432a39;
 background-color: #ecc0db;
   box-shadow: 0 2px 20px rgb(242, 107, 188);
}

footer .social-icons a:hover{

  background: #f9e1cb;
  border-radius: 160px;
  border: #e05500;
  

}
footer span{
  font-size: 0.9rem;
  color: #333;
}



